* {
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --pink: #e84393;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    top: 0;
    text-decoration: none;
    position: sticky;
    color: #707070;
}

.logo {
    font-weight: bolder;
    font-size: 2.5rem;
}

.header-left span {
    color: var(--pink);
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: var(--pink);
}

.icons a {
    margin-right: 15px;
    font-size: 22px;
}

.home {
    background: url("images/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-text {
    padding-top: 250px;
    padding-left: 100px;
}

.home-text h1 {
    font-weight: 800;
    font-size: 4rem;
}

.home-text h2 {
    font-weight: 500;
    font-size: 2.15rem;
    color: var(--pink);
}

.home-text p:last-child {
    margin-top: 20px;
}

.btn-shop-now {
    color: #fff;
    background: #333;
    padding: 10px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-shop-now:hover {
    background: var(--pink);
}